body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}

#container {
  overflow-x: hidden;
  transition: all 0.25s linear;
}

#text-input {
  margin: 0 20%;
}

#add-deck {
  margin: 0 40%;
}

#decks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.deck {
  position: relative;
  border: 0.5vmin solid black;
  border-radius: 2rem;
  padding: 2vmin;
  box-sizing: border-box;
  min-width: 25%;
  width: fit-content;
  min-height: 30vh;
  margin: 3vmin;
  margin-top: 5vmin;
  user-select: none;
}

.deck > p {
  font-size: 3vmin;
  margin: 0;
  font-weight: bold;
  font-style: italic;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5vmin;
}

.deck > textarea {
  border-radius: 1rem;
  padding: 1vmin;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  border: 0.2vmin solid black;
}

.deck > textarea::-webkit-resizer {
  background-image: url(assets/chevron.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.slide-btn {
  position: absolute;
  right: 2vmin;
  outline: none;
  border: none;
  background: none;
  font-weight: bold;
  font-size: 2vmin;
  cursor: pointer;
}

.slide-up-btn {
  top: 2vmin;
}

.slide-down-btn {
  bottom: 2vmin;
}

.deck:first-of-type .slide-up-btn, .deck:last-of-type .slide-down-btn, .finished-line:first-of-type .merge-btn {
  display: none;
}

#popup {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #22222266;
}

#popup > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2vmin;
  border: 0.5vmin solid black;
  border-radius: 1rem;
  padding: 2vmin;
  min-width: 30%;
  width: fit-content;
  height: fit-content;
}

#popup input[type="text"] {
  outline: none;
  background-color: transparent;
  border: 0.1vmin solid black;
  border-radius: 1rem;
  padding: 0.5vmin 1vmin;
  color: white;
}

#popup h2 {
  margin: 0;
}

#popup p {
  margin: 0;
}

#finished-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 2vmin;
  width: fit-content;
  height: 100%;
  background-color: lightgray;
  border: 0.3vmin solid gray;
  border-radius: 1rem;
}

.finished-line {
  margin: 0;
  position: relative;
  width: 100%;
  font-size: 2.5vmin;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finished-line:not([confidence="true"]) {
  color: red;
  font-style: italic;
}

.finished-line button {
  background: none;
  outline: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.finished-line button:disabled {
  cursor: default;
}

